<h1>NgSwitch</h1>
<input type="text" required [(ngModel)]="person.name">
<div [ngSwitch]="person.name">
  <p *ngSwitchCase = "'Ilich'">I'm Ilich.</p>
  <p *ngSwitchCase = "'Saraí'">I'm Saraí.</p>
  <p *ngSwitchCase = "'Fabrizzio'">I'm Fabrizzio.</p>
  <p *ngSwitchDefault>No match found.</p>
</div>

<hr/>

<h1>*NgFor Arrays (Objects)</h1>
<div class="products-grid">
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2>{{ product.price }}</h2>
    <p> {{ product.name }} </p>
  </div>
</div>

<hr/>

<h1>*NgFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">Empty list!</li>
  <li *ngFor="let name of names; index as i">
    {{ i + 1 }}) Name: {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr/>

<h1>*NgIf</h1>
<input type="text" required [(ngModel)]="person.name">
<p *ngIf="person.name === 'Ilich'; else elseStatement">My content</p>
<ng-template #elseStatement>
  <p>Else statement</p>
</ng-template>

<hr/>

<h1>NgModel</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"> <!-- I need "#nameInput" 'cuz 2 lines above I'm checking if that's a valid input. -->
<p>Name: {{ person.name }}</p>
<p>Valid: {{ nameInput.valid }}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age">
<p>Age: {{ person.age }}</p>
<p>Valid: {{ ageInput.valid }}</p>

<hr/>

<h1>Events</h1>
<button [disabled]="btnDisabled">Send</button>
<button (click)="toggleButton()">Toggle button</button>
<p>Age: {{ person.age }}</p>
<button (click)="increaseAge()">Age++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, suscipit laudantium. Officiis, consectetur inventore ullam eum hic repudiandae accusamus ipsam autem nisi, excepturi nemo eos corporis. Nisi dolores maiores quae!  adipisicing elit. Dolor, suscipit laudantium. Officiis, consectetur inventore ullam eum hic repudiandae accusamus ipsam autem nisi, excepturi nemo eos corporis. Nisi dolores maiores quae!</p>
</div>

<input type="text" [value]="person.name" (keyup)="changeName($event)">
<p>Name: {{ person.name }}</p>

<hr/>

<h1>Properties</h1>
<button [disabled]="btnDisabled">Send</button>
<input type="text" [value]="person.name">
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar">

<hr/>

<h1>Hello world</h1>
<h2> {{ 'Hello world'.repeat(5) }} </h2>
<p>3 + 3 = {{3 + 3}}</p>
<h3>Hello, I'm {{ name }} and I'm {{ age }} years old.</h3>
<img width="200" src={{img}} alt="image">
