.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background: red;
}

ul {
  list-style-type: none;
}

.products-grid {
  display: flex;
  flex-direction: column;

  div {
    img {
      width: 100%;
      border-radius: 10px;
    }

    h2, p {
      margin: 0;
    }
  }
}

.message-error {
  background: red;
  color: white;
  opacity: 0; // It won't be visible.
  transition: all linear .5s;

  &.invalid { // Adding to this invalid class...
    opacity: 1;
  }
}

.img-style {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.line-error {
  height: 0;
  border-bottom: 1px solid;

  &.invalid { // Adding to this invalid class...
    border-color: red;
  }

  &.valid { // Adding to this invalid class...
    border-color: green;
  }
}

@media screen and (min-width: 40em) { // Tablets.
  .products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 fractioned columns.
    grid-gap: 15px;
  }
}
